.dice-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.5em;
}

.dice-bar img {
	display: block;
	width: 10vmin;
}

.dice-bar .clickable img:hover {
	cursor: pointer;
	filter: opacity(0.7);
	transition: 0.15s;
}

.dice-bar > .free {
	filter: brightness(1);
	transition: 0.3s;
}
.dice-bar > .hold {
	filter: brightness(0.80) sepia(1) saturate(10000%) hue-rotate(60deg);
	transition: 0.3s;
}
