tr {
	border: 1px solid #fff;
	cursor: default;
    padding: 6px;
}

tr.used :not(.score-cell){
	text-decoration: line-through;
	color: #777;
}

.score-name {
	text-align: right;
	padding: 6px;
	
}

.score-desc {
	font-size: 50%;
	cursor: default;
	padding: 6px;
	
}

.score-cell {
	border: 1px solid #fff;
	text-align: center;
	width: 80px;
}
